/* main rules */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}
body {
  font-family: "Titillium Web", sans-serif;
  color: black;
}
:root {
  --green: #8ed1b6;
  --red: #e7a8c6;
  --gray: rgb(228, 228, 228);
  --dark-gray: rgb(112, 112, 112);
}
/* start header */
header {
  padding: 20px 0;
  border-top: 1px solid var(--gray);
  border-bottom: 1px solid var(--gray);
}

nav .container .row {
  justify-content: space-between;
  align-items: center;
}
.search-bar img {
  width: 25px;
  margin-right: 8px;
  cursor: pointer;
}
.search-bar h3 {
  text-transform: uppercase;
  font-size: 16px;
}
nav .logo {
  padding-top: 15px;
  cursor: pointer;
}
@media screen and (max-width: 400px) {
  nav .logo {
    display: none;
  }
}
nav .list .menue {
  padding-top: 13px;
  cursor: pointer;
}
nav .center {
  padding: 0 10px;
}
.menue span {
  width: 23px;
  height: 2px;
  display: block;
  background-color: black;
  position: relative;
}
.menue span::before {
  content: "";
  width: 23px;
  height: 2px;
  display: block;
  background-color: black;
  position: absolute;
  top: 5px;
}
.menue span::after {
  content: "";
  width: 15px;
  height: 2px;
  display: block;
  background-color: black;
  position: absolute;
  top: 10px;
  text-align: right;
}
@media screen and (max-width: 767px) {
  nav .first,
  .center {
    display: none;
  }
  nav .list .menue {
    padding: 0;
    margin: -5px;
  }
  nav .logo img {
    position: relative;
    left: -15px;
  }
}
.navigation {
  padding: 25px 0;
}
.navigation ul {
  justify-content: center;
}
.navigation ul li {
  padding: 15px;
}
.navigation li a {
  text-decoration: none;
  color: var(--dark-gray);
  text-transform: uppercase;
  font-size: 16px;
  font-family: "Titillium Web", sans-serif;
  font-weight: 550;
  transition: 0.2s;
}
.navigation li a:hover {
  color: var(--green);
}
@media screen and (max-width: 767px) {
  .navigation {
    display: none;
  }
}

/* end header */

/* start landing */
.landing {
  height: 60vh;
  background-color: var(--green);
  position: relative;
}

.landing .slider {
  text-align: right;
  padding-right: 15px;
  color: rgb(83, 83, 83);
  position: relative;
  top: 50%;
  transform: translate(0, -50%);
}
@media screen and (max-width: 767px) {
  .landing .slider {
    display: none;
  }
}

.landing .title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 60px;
  align-items: center;
  justify-content: space-around;
}
.landing .title .plant-img {
  padding-left: 50px;
}
.landing .title .plant-img img {
  width: 170px;
}
.landing .title .sub-text {
  font-size: 30px;
  text-transform: uppercase;
  font-weight: 400;
}
.landing .title span {
  font-family: "Alex Brush", cursive;
  text-transform: capitalize !important;
  font-size: 60px;
}
.landing .title h1 {
  font-size: 70px;
  text-transform: uppercase;
  line-height: 85px;
}
.landing .title h1 sup {
  font-size: 20px;
}
@media screen and (max-width: 1156px) {
  .landing .title h1 sup {
    display: none;
  }
}
.landing .title a {
  font-size: 20px;
  color: black;
  cursor: pointer;
  transition: 0.1s;
}
.landing .title a:hover {
  color: #395349;
}
@media screen and (max-width: 510px) {
  .landing .title .sub-text {
    font-size: 25px;
  }
  .landing .title h1 {
    font-size: 60px;
  }
  .landing .title .plant-img img {
    width: 140px;
  }
}
@media screen and (max-width: 767px) {
  .landing {
    height: 80vh;
  }
}
@media screen and (max-width: 474px) {
  .landing .title .plant-img img {
    display: none;
  }
}
/* end landing */

/* start slider */
.slider-1 .search {
  justify-content: space-between;
  padding: 20px 0;
  border-bottom: 1px solid var(--gray);
}

.slider-1 li a {
  text-decoration: none;
  color: var(--dark-gray);
  text-transform: uppercase;
  font-size: 16px;
  font-family: "Titillium Web", sans-serif;
  font-weight: 550;
  transition: 0.2s;
  padding: 15px;
}
.slider-1 li a:hover {
  color: var(--green);
}
.slider-1 .menue {
  padding-top: 7px;
}

.boxes {
  padding: 50px 0;
}
.boxes .box {
  transition: 0.3s;
  box-shadow: 14px -2px 148px -70px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 14px -2px 148px -70px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 14px -2px 148px -70px rgba(0, 0, 0, 0.75);
  margin-bottom: 50px;
}

.boxes .box .top-corner .col-lg-10 {
  padding-right: 0;
}
.boxes .box .top-corner .col-lg-10 img {
  width: 100%;
}
.boxes .box .top-corner .col-lg-2 ul li {
  padding: 10px 0;
}
.boxes .box .top-corner .col-lg-2 ul li:nth-child(3n) {
  margin-top: -25px;
  margin-left: -5px;
}
@media screen and (max-width: 992px) {
  .boxes .box .top-corner .col-lg-2 ul {
    display: none;
  }
}

.boxes .box .bottom-corner {
  text-align: center;
  padding: 30px 0;
  text-transform: capitalize;
}
.boxes .box .bottom-corner h2 {
  padding-bottom: 7px;
}
.boxes .box .bottom-corner span {
  color: var(--green);
}
.boxes .box .bottom-corner .flex {
  justify-content: center;
  padding-top: 10px;
}
.boxes .box .bottom-corner .flex h3 {
  padding-left: 5px;
}
@media screen and (max-width: 767px) {
  .slider-1 .del {
    display: none;
  }
}

/* end slider */

/* start features */
.features {
  position: relative;
}
.features .col-lg-6 {
  padding-left: 0;
  padding-right: 0;
}
.features .circle {
  width: 190px;
  height: 190px;
  background-color: #e8acc8;
  border-radius: 50%;
  position: absolute;
  left: 25%;
  top: 60%;
  text-align: center;
  align-items: center;
  font-size: 18px;
  padding: 10px;
}
.features .circle del {
  display: block;
  margin-top: -30px;
  font-weight: 600;
}
.features .circle h2 {
  color: #fff;
  font-size: 35px;
}
.features .first-box img {
  position: absolute;
  left: 45%;
  top: 10%;
  z-index: -12;
}
.features .first-box .wood {
  position: absolute;
  left: 45%;
  top: 27%;
  writing-mode: vertical-lr;
  font-size: 25px;
  letter-spacing: 15px;
}
.features .secound-box {
  z-index: 1;
  background-color: var(--green);
  padding: 50px 0 0 40px;
  position: relative;
  overflow-x: hidden;
}

.features .secound-box .feature {
  color: #7fc5a9;
  font-size: 100px;
  letter-spacing: 45px;
  font-weight: 500;
}

.features .secound-box .waves {
  margin-left: 300px;
  z-index: 1;
}
@media screen and (max-width: 767px) {
  .features .first-box {
    display: none;
  }
  .features .secound-box {
    padding-left: 0;
    padding: 20px 0;
  }
  .features .secound-box .waves {
    margin-left: 200px;
  }
  .features .secound-box .lava {
    padding: 0 30px;
  }
}

.features .secound-box .lava {
  z-index: 2;
  position: absolute;
  margin-top: 40px;
}
.features .secound-box .lava h3 {
  color: #fff;
}
.features .secound-box .lava h2 {
  padding-bottom: 5px;
}

.features .secound-box .lava p {
  color: #fff;
  padding-bottom: 15px;
}
.features .secound-box .lava a {
  color: #fff;
}
/* end features */

/* start black-boxes */
.balck-boxes .col-lg-3 {
  padding: 0;
}
.balck-boxes .b-box {
  height: 280px;
  background-color: #202127;
  text-align: center;
  position: relative;
  padding-top: 35px;
}
.balck-boxes .b-4 {
  padding-top: 50px !important;
}
.balck-boxes .b-3 {
  padding-top: 40px;
}
.balck-boxes .black {
  background-color: #1d1e24;
}
.balck-boxes .b-box h2 {
  font-size: 23px;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: var(--gray);
}
.balck-boxes .b-box h4 {
  color: var(--dark-gray) !important;
}
.balck-boxes .b-box .content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 440px;
}
/* end black-boxes */

/* start footer  */
footer {
  padding: 30px;
  color: var(--dark-gray);
  text-transform: capitalize;
}
footer .first-row {
  margin-right: 50px;
  margin-bottom: 40px;
}
footer .secound-row .list {
  padding-right: 70px;
}
footer .secound-row ul li {
  padding: 5px 0;
}
footer a {
  color: var(--dark-gray);
}
/* end footer  */
